body {
    background-color: #171923;
}

.full-container {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.tw {
    width: 20%;
    height: 30%;
}