@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color:black;
    color: white;
}

header {
    padding: 16px 0;
}

.full-container {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.site-navbar {
    grid-gap: 24px;
    gap: 24px;
}

.site-footer {
    grid-gap: 24px;
    gap: 24px;
}

.title {
    font-weight: 700;
    line-height: 2rem;
}

.dd-highlight {
    background-image: linear-gradient(to right,#f8ab5e 0,#f36961 20%,#a176c8 40%,#759beb 60%,#65beb3 80%,#70db96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-bold {
    font-weight: 700;
}

.font-semibold {
    font-weight: 600;
}

.githubRepo_ {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e5989b;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

