body {
    font-family: sans-serif;
    background-color: #111827;
}

.full-container {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.spb {
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.font-bold {
    font-weight: 700;
}

.title {
    font-size: 1rem;
    line-height: 2rem;
}