@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: normal;
    letter-spacing: normal;
}

:root {
    --text-color: white;
    --bg-color: #111827;
    --int: 20px
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
}

.title_ademcan{
    font-weight: 600;
    font-size: 2em;
}

.description {
    margin: 1.2rem;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
}

.int {
    padding-top: var(--int);
    padding-bottom: var(--int);
}

.int, .social {
    font-size: 1.3em;
}

.int, .about, p {
    margin-bottom: 10px;
}

.int, .ademcan {
    text-align: center;
    margin-bottom: 1em;
}

.int .ademcan .ademcan_img {
    border-radius: 100%;
    width: 8em;
    height: 8em;
    border: 4px solid #57F287;
    object-fit: cover;    
}

.social .social_link a {
    font-weight: 600;
    line-height: 25px;
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

.twitter:hover{
    color: #57F287;
}

.github:hover {
    color: #57F287;
}

.steam:hover {
    color: #57F287;
}

.email:hover {
    color: #57F287;
}

.discord:hover {
    color: #57F287;
}

.instagram:hover {
    color: #57F287;
}

.trello:hover {
    color: #57F287;
}

.special {
    color: white;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
    font-weight: 300;
    animation: fe30-anime 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 4s forwards;
}

.specialtext {
    text-align: center;
    margin: 40px auto;
}

