* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #111827;
    color: #000000a0;
}

header {
    padding: 16px 0;
}

.site-navbar {
    grid-gap: 24px;
    gap: 24px;
}

.full-container {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title {
    font-weight: 700;
    line-height: 2rem;
}

.font-bold {
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #57F287;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}